#anchor {
    color: deepskyblue;
    text-decoration: none;
}

#btn {
    background-color: #FFFFFF;
    border: none;
    outline: none;
    cursor: pointer;
}

#span_btn {
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}

#circle_wrap {
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: lightpink;
}

#circle_wrap:hover #circle {
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    transition: 200ms;
}

#circle {
    position: relative;
    left: 50%;
    top: 50%;
    display: inline-block;
    width: 0px;
    height: 0px;
    background-color: lightgreen;
    border-width: 0;
    border-radius: 50%;
}

#point_box {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: lightgray;
}

#point_box:hover #point {
    transform: scale(1, 1);
    transition: 200ms;
}

#point {
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: lightpink;
    border-width: 0;
    border-radius: 50%;
    transform-origin: 50% 50%;
    transform: scale(0, 0);
}

.btn-box {
    display: inline-block;
    width: 70px;
    height: 40px;
    /*background-image: linear-gradient(red 50%, blue 50%);*/
    background-color: #DDDDDD;
    overflow: hidden;
}

.btn-box:hover .btn-bg {
    transform: scale(1, 1);
    transition: 300ms;
}

.btn-bg {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: mediumpurple;
    border-width: 0;
    border-radius: 50%;
    transform-origin: 50% 50%;
    transform: scale(0, 0);
    margin-top: -30px;
    margin-left: -15px;
}

.btn-desk {
    display: inline-block;
    width: 70px;
    height: 40px;
    background-color: #DDDDDD;
    overflow: hidden;
}

.btn-desk:hover .desk-cover {
    background-color: rgba(225, 0, 255, 0.3);
    transform: scale(1, 1) translateY(-50%);
    transition: 400ms;
}

.desk-cover {
    display: inline-block;
    width: 100px;
    height: 100px;
    background-color: rgba(225, 0, 255, 0);
    border-width: 0;
    border-radius: 50%;
    transform-origin: 50% 0%;
    margin-left: 50%;
    position: relative;
    left: -50px;
    top: 50%;
    transform: scale(0, 0) translateY(-50%);
}