#anchor{
    color: deepskyblue;
    text-decoration: none;
}
#anchor:hover{
    ;
}
#btn{
    background-color: #FFFFFF;
    border: none;
    outline: none;
    cursor: pointer;
}
#span_btn{
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
}
#circle_wrap{
    position: relative;
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: lightpink;
}
#circle_wrap:hover #circle{
    left: 0;
    top: 0;
    width: 50px;
    height: 50px;
    transition: 200ms;
}
#circle{
    position: relative;
    left: 50%;
    top: 50%;
    display: inline-block;
    width: 0px;
    height: 0px;
    background-color: lightgreen;
    border-width: 0;
    border-radius: 50%;
}
#point_box{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: lightgray;
}
#point_box:hover #point{
    transform: scale(1,1);
    transition: 200ms;
}
#point{
    display: inline-block;
    width: 50px;
    height: 50px;
    background-color: lightpink;
    border-width: 0;
    border-radius: 50%;
    transform-origin: 50% 50%;
    transform: scale(0,0);
}
